version: '3.9'

services:
  nodered:
    build:
      context: .
      dockerfile: Dockerfile.nodered
    volumes:
      - shared_data:/myapp/db/record
    ports:
      - '1880:1880'
    command: ["node-red"]

  db:
    image: postgres:16.0
    env_file: .env
    ports:
      - '5432:5432'
    volumes:
      - postgresql-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}  # .envファイルから読み込む
    tty: true
    stdin_open: true

  redis:
    image: redis:latest
    ports:
      - '6379:6379'

  web:
    build:
      context: .
      dockerfile: Dockerfile.development.web
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec chmod +x bin/rails && bundle exec rails tailwindcss:build && bundle exec bin/rails s -p 3000 -b '0.0.0.0'"
    tty: true
    stdin_open: true
    env_file: .env
    environment:
      - KEY_DERIVATION_SALT=${KEY_DERIVATION_SALT}
    volumes:
      - .:/myapp:delegated
      - shared_data:/myapp/db/record
      - /myapp/node_modules
    ports:
      - '3000:3000'
    depends_on:
      - db
      - redis
  
  sidekiq:
    build:
      context: .
      dockerfile: Dockerfile.development.web
    command: bundle exec sidekiq
    volumes:
      - .:/myapp
    depends_on:
      - db
      - redis
    env_file: .env

volumes:
  shared_data:
  postgresql-data:
    driver: local


