
@tailwind base;
@tailwind components;
@tailwind utilities;


/*tailwindCSSでimportされない。装飾の設定が反映されない問題の対処。 Win10 Next.js VSCode
https://qiita.com/masakinihirota/items/bd8c07aa54efad307588
*/

/* Windows10の場合？ 
@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";
*/

