<!-- app/views/download_mailer/send_download_password.html.erb -->
Welcome to IATFシステム
入室リンク/添付ファイルダウンロードパスワード

2段階認証が取得できましたので、IATFシステム入室リンクをWクリックして入室下さい: <a href="https://nys-web.net/verify/<%= @token %>">IATFシステム入室リンク</a>

IATFシステムの添付ファイルをダウンロードする時は、右のパスワードを入力してください: <%= @password %>
