<!-- app/views/download_mailer/send_download_password.html.erb -->
<h1>Welcome to IATFシステム</h1>
<h2>入室リンク/添付ファイルダウンロードパスワード</h2>


<p>
2段階認証が取得できましたので、IATFシステム入室リンクをクリックして入室下さい:
  
  <%= link_to "IATFシステム入室リンク", verify_token_url(token: @token, host: 'localhost', port: 3000) %>

</p>

<p>IATFシステムの添付ファイルをダウンロードする時は、右のパスワードを入力してください: <%= @password %></p>
